# Using Sql in jupyter

## Initial setup

In [2]:
#initial install to be able to use sql in jupyter notebook
#!/opt/anaconda3/bin/pip install ipython-sql
#!/opt/anaconda3/bin/pip install datasette

In [26]:
#setup database (not yet working)
#import sqlalchemy
#sqlalchemy.create_engine('sqlite:////Users/ninadombrowski/Desktop/WorkingDir/Notebooks/IBM_Data_Science/4/Week1/Film_Locations_in_San_Francisco.db')

#%load_ext sql

#%sql sqlite://Film_Locations_in_San_Francisco.db

Engine(sqlite:////Users/ninadombrowski/Desktop/WorkingDir/Notebooks/IBM_Data_Science/4/Week1/Film_Locations_in_San_Francisco.db)

In [49]:
#load libraries
import sqlalchemy
from sqlalchemy import  create_engine
import sqlite3 as sql
import pandas as pd

#show all results per chunk
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Trial 1

In [39]:
#connect to database
connection = sql.connect('Film_Locations_in_San_Francisco.db')

In [42]:
#select query
sql_query = '''SELECT * FROM Film_Locations_in_San_Francisco'''

In [43]:
#create database with your query and the input
df = pd.read_sql_query(sql_query, connection)

In [45]:
df.head(3)

,Title,Release Year,Locations,Fun Facts,Production Company,Distributor,Director,Writer,Actor 1,Actor 2,Actor 3
0,A Jitney Elopement,1915,20th and Folsom Streets,None,The Essanay Film Manufacturing Company,General Film Company,Charles Chaplin,Charles Chaplin,Charles Chaplin,Edna Purviance,None
1,A Jitney Elopement,1915,Golden Gate Park,"During San Francisco's Gold Rush era, the Park...",The Essanay Film Manufacturing Company,General Film Company,Charles Chaplin,Charles Chaplin,Charles Chaplin,Edna Purviance,None
2,Greed,1924,Cliff House (1090 Point Lobos Avenue),"In 1887, the Cliff House was severely damaged ...",Metro-Goldwyn-Mayer (MGM),Metro-Goldwyn-Mayer (MGM),Eric von Stroheim,Eric von Stroheim,Zasu Pitts,Gibson Gowland,Jean Hersholt

## Trial 2

In [15]:
import sqlalchemy
from sqlalchemy import  create_engine

In [17]:
#create an engine
db1= sqlalchemy.create_engine('sqlite:///Film_Locations_in_San_Francisco.db')

In [30]:
#connect to db
db1.connect()

In [20]:
#load sql module, use reload if already done
%load_ext sql

In [33]:
%sql sqlite:///Film_Locations_in_San_Francisco.db

In [35]:
%%sql
SELECT * FROM Film_Locations_in_San_Francisco LIMIT 5

 * sqlite:///Film_Locations_in_San_Francisco.db
Done.

[('A Jitney Elopement', 1915, '20th and Folsom Streets', None, 'The Essanay Film Manufacturing Company', 'General Film Company', 'Charles Chaplin', 'Charles Chaplin', 'Charles Chaplin', 'Edna Purviance', None),
 ('A Jitney Elopement', 1915, 'Golden Gate Park', 'During San Francisco\'s Gold Rush era, the Park was part of an area designated as the "Great Sand Waste".', 'The Essanay Film Manufacturing Company', 'General Film Company', 'Charles Chaplin', 'Charles Chaplin', 'Charles Chaplin', 'Edna Purviance', None),
 ('Greed', 1924, 'Cliff House (1090 Point Lobos Avenue)', 'In 1887, the Cliff House was severely damaged when the schooner Parallel, abandoned and loaded with dynamite, ran aground on the rocks below.', 'Metro-Goldwyn-Mayer (MGM)', 'Metro-Goldwyn-Mayer (MGM)', 'Eric von Stroheim', 'Eric von Stroheim', 'Zasu Pitts', 'Gibson Gowland', 'Jean Hersholt'),
 ('Greed', 1924, 'Bush and Sutter Streets', None, 'Metro-Goldwyn-Mayer (MGM)', 'Metro-Goldwyn-Mayer (MGM)', 'Eric von Stroheim', 'Eric von Stroheim', 'Zasu Pitts', 'Gibson Gowland', 'Jean Hersholt'),
 ('Greed', 1924, 'Hayes Street at Laguna', None, 'Metro-Goldwyn-Mayer (MGM)', 'Metro-Goldwyn-Mayer (MGM)', 'Eric von Stroheim', 'Eric von Stroheim', 'Zasu Pitts', 'Gibson Gowland', 'Jean Hersholt')]

In [52]:
%%sql
select COUNT(*) from Film_Locations_in_San_Francisco;

 * sqlite:///Film_Locations_in_San_Francisco.db
Done.

[(1976,)]

In [ ]:
%%sql
select COUNT(Locations) from Film_Locations_in_San_Francisco
where Writer = "James Cameron";

# Trial 3

When using datasette Whenever there is  spaces in columns enter within [] brackets for Example

SELECT Title, [Release Year], Locations FROM FilmLocations WHERE [Release Year]<=2000;

In [3]:
import sqlite3
conn = sqlite3.connect('Film_Locations_in_San_Francisco.db')
c = conn.cursor()

In [ ]:
#!datasette